@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600,700");

:root {
  --primary: #ddd;
  --dark: #333;
  --darkGrey: #d4d4dc;
  --light: #fff;
  --yellow: #ffdc00;
  --deepMatteGrey: #393f4d;
  --shadow: (0 1px 5px rgba(104, 104, 104, 0.8));
}

html {
  color: var(--dark);
}

* {
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
